$borderRadius : 4px;
$textOnBackground: #fff;
$bodyBackground: #ececec;
$boxShadowAppHeader: 0px 2px 5px #1a6773;
$backgroundOverlay: rgba(8, 60, 68, 0.9098039215686274);

@mixin textOnAboveImage {
    color: $textOnBackground;    
    text-shadow: 2px 2px #000;
    background: linear-gradient(rgba(9, 23, 23, 1), rgba(255, 0, 0, 0));
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

*{
    //margin: 0;
    //padding: 0;
}

body{
    background: $bodyBackground;
}
.app-header{
    text-align: center;
    background: #fff;
    box-shadow: 0px 2px 5px #e2e0e0;
    z-index: 1;
    position: relative;
    /*height: 150px;*/
    padding: 20px;
    color: white;
    .logo-left{
        float: left;
        img{
            max-width: 150px;
        }
    }
}

.app-navbar{
    background: #157979;
    text-align: right;    
    position: sticky;
    z-index: 2;
    top: 0;

    .fa.fa-bars{
        color: #fff;
        &:focus{
            text-shadow: none;
        }
    }
}
.app-main-container{
    padding-top: 1.5em;
}
.sideNavWrapper{
    //background: rgba(8, 60, 68, 0.9098039215686274);

    &.close-sidenav{
        display: none;
    }
}

.app-wrapper{
    background: #fff;
    //padding: 1em;
    margin: 1em 0;
    border-radius: $borderRadius;
    box-shadow: 1px 2px 3px #ccc;
    border: 1px solid #ececec;
    width: 100%;

    h1, h2, h3, h4, h5, h6{
        margin: 0 0 0.5em 0;
    }

    p{
        margin: 0 0 0.5em 0;
        color: hsl(210, 3%, 61%);
        line-height: 1.5;
    }
}

.navBar{
    //border: 1px solid red;
    overflow: hidden;
    padding: 0.5em 1em;
    background: #ececec;
    position: sticky;
    top: 0;
    z-index: 1;

    li{
        float: left;            
        list-style: none;
    }
    a{
        display: block;
        text-decoration: none;
    }
}

.appFooter{
    text-align: center;
    padding: 0.5em;
    color: $textOnBackground;
    background: #336564;
    p {
        margin: 0;
    }
}

.appImageBanner{
    border-radius: $borderRadius;
    color: $textOnBackground;
    overflow: hidden;
    margin: 0 0 1em 0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    //min-height: 300px;
    position: relative;    
    
    &:hover > .overlay, &:focus > .overlay{
        opacity: .5;
        height: 100%;
        background-color: #000;
        position: absolute;
        top: 0;
        width: 100%;
        @include transition(all, 1s , ease-in-out );
    }
}

.appMapContainer{
    border-radius: $borderRadius;
    overflow: hidden;
    margin: 0 0 1em 0;
}

@media only screen and (max-width: 1024px) {
    .appImageBanner{
        //border: 1px solid red;
        //height: 200px;
        //min-height: auto;
    }

    .appTourListView, .appPointView, .appLocationView{
        width: 100%;
    }

    
}

.backgroundHeading{
    @include textOnAboveImage();    
    
    padding: 0.5em;
    position: absolute;
    top: 0;
    width: 100%;
    
    h2{
        font-size: 1.5rem;
    }
    p{
        color: $textOnBackground;
    }
}

.appListLocationWithImage{
    display: flex;
    padding: 0.5em;
    padding-top: 1em;
    border-bottom: 1px solid #ccc;

    &:hover {
        background: $bodyBackground;
        @include transition(all, 1s , ease-in-out );
    }

    .image{
        width: 40%;
        img{
            width: 100%;
            border-radius: $borderRadius;
            //border: 1px solid yellow;
            margin: 0;
        }
    }
    .summary{
        width: 60%;
        padding-left: 1em;
        padding-right: 1em;
        //border: 1px solid yellow;
    }

    h3{
        font-size: 1em;
    }
}

.appGeoLocation{
    padding: 1em;
    background: yellow;
}

.tourSummary{
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}

.appRightCol{
    padding: 1em;
    //border: 1px solid red;
}

.app-side-nav{
    background: #01b2b1;
    position: fixed;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 3;
    box-shadow: -2px 0 8px #083c44;

    $padding: 1em;

    .nav-header{
        background: #083c44;
        color: #fff;
        padding: $padding;
        overflow: auto;
    }

    .nav-item{
        padding: $padding;
        //background: #fff;
        color: #fff;
        border-bottom: 1px solid #47cce0;
        .fa{
            margin-right: 0.5em;
        }
        &:hover{
            background: #47cce0;
            @include transition(all, 1s , ease-in-out );
        }
    }
    .btn-nav-close{
        background: none;
        border: none;
        color: #fff;
        float: right;
    }
}

.app-loading-overlay{
    background: $backgroundOverlay;
    left: 0;
    z-index: 4;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    .loadingContent{
        position: relative;
        //color: #fff;
        top: 30%;        
        width: 200px;
        height: 200px;
        margin: 1em auto;
        padding: 2em 0;
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 8px 5px #04141f;
        text-align: center;
        border: 3px solid #c2d8e6;


        @-webkit-keyframes rotating /* Safari and Chrome */ {
            from {
              -webkit-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            to {
              -webkit-transform: rotate(360deg);
              -o-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
          @keyframes rotating {
            from {
              -ms-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -webkit-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            to {
              -ms-transform: rotate(360deg);
              -moz-transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
              -o-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
          .loadingIcon {
            -webkit-animation: rotating 2s linear infinite;
            -moz-animation: rotating 2s linear infinite;
            -ms-animation: rotating 2s linear infinite;
            -o-animation: rotating 2s linear infinite;
            animation: rotating 2s linear infinite;
          }

        .fa-spinner{
            font-size: 3em;
        }
    }
}

.app-tour-list{
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;

    h3{
        font-size: 1em;
    }

    .tour-image{
        width: 40%;
        img{
            width: 100%;
            border-radius: 4px;
        }
    }
    .tour-details{
        float: right;
        padding-left: 1em;
        width: 60%;
    }
}

.app-tour-description, 
.app-map-component{
    //border-bottom: 1px solid #ccc;
    padding: 1em 0;
}

.app-tour-tips,
.app-tour-locations-list {
    padding: 1em 0;
}

.app-point-container-modal{

    .app-point-title{
        background: #fff;
        color: #000 !important;
        width: 100%;
        padding: 0.5em;
        box-shadow: 2px 2px 3px #000;
        img{
            margin: 0 0.5em 0 0;
        }
        &:after{
            content:'';
            clear: both;
            display: block;
        }

        .point-menu{
            float: left;
        }

        .point-close{
            float: right;
        }
    }
    
    

    .point-audio{
        padding: 1em;
        text-align: center;
        background: #fff;
        border-top: 3px solid #ccc;

        .playIcon{
            border-radius: 90%;
            width: 50px;
            height: 50px;
            background: #fff;      
            font-size: 1em;
            box-shadow: 0px 2px 4px #000;
            border: 2px solid #ccc;
        }
    }

    .point-actions{
        //background: #fff;
        //padding: 1em;
        position: fixed;
        bottom: 0;
        width: 100%;

        p{
            margin: 0;
            padding: 0;
        }
    }

    .actions-nav{
        background: #336564;
        button{
            color: #fff;
            background: none;
            border: none;
            border-right: 1px solid #666;
            padding: 1em;
        }
    }
}